USE [demo2]
GO
/****** Object:  Table [dbo].[account]    Script Date: 2022/12/11 上午 09:52:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[id] [int] NULL,
	[account] [varchar](20) NULL,
	[password] [varchar](20) NULL,
	[img] [varbinary](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[accountmanager]    Script Date: 2022/12/11 上午 09:52:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accountmanager](
	[username] [varchar](20) NULL,
	[password] [varchar](20) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[accountmanager] ([username], [password]) VALUES (N'tendo', N'123')
GO
